# ROS / Catkin build folders
build/
devel/
install/
.catkin_workspace

# Python compiled files
*.pyc
__pycache__/

# Editor directories
.vscode/
.idea/

# ROS/Experimental Folders
marker_detection/
franka_ros/
